<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playscent.db.CartMapper">

	<!-- 장바구니 선택한상품정보 저장할 mapper sql -->
	<insert id="addCart" parameterType="CartDTO">
		insert into FAVORITE_INFO values(FAVORITE_INFO_SEQ.NEXTVAL,#{MEM_ID},#{PF_IDX},#{PF_COUNT},sysdate)
	</insert>
	
	<!-- 장바구니에 담길 향수제품 정보 -->
	<select id="selectPerfume"  resultType="CartPerfumeDTO">
	 	select PF_NAME,PF_PRICE,PF_BRAND,PF_GENDERS,PF_ACCORDS,PF_IMAGE from PERFUME_INFO where PF_IDX=#{perfumeIDX}
	</select>
	
	<!-- 현재 고객의 모든 장바구니 정보 -->
	<select id="allCartList" parameterType="String" resultType="CartDTO">
		select FAV_IDX,MEM_ID,PF_IDX,PF_COUNT,CREATED_AT from FAVORITE_INFO where MEM_ID=#{user_id}
	</select> 
	
	<!-- 고객이 선택한 상품만 삭제기능. -->
	<delete id="deleteCart" >  <!-- parameterType="Integer"가 타입 안에 들어가는 Integer가 디폴트 따라서 생략해도 자동으로 Integer가 된다. 다른값들은 넣어줘야 한다!.-->
		delete from FAVORITE_INFO where FAV_IDX=#{fav_idx}
	</delete>
	
	

</mapper>