<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playscent.db.UserMapper">

	<!-- 네이버 로그인 유저정보 저장할 매퍼 sql -->
	<insert id="joinMember" parameterType="NaverUserInfo">
	   insert into MEMBER_INFO values(#{id},#{name},#{age},#{email},#{mobile},#{gender}, sysdate,'bronze',#{profile_image})  
	</insert>
	
    <!-- 네이버 id가 저장되어 잇는지 검사 -->
	<select id="idCheck" parameterType="String" resultType="int">
		select case when count(*)>0 then 1 else 0 end result   <!-- result는 컬럼 별명이됨.  -->
		from MEMBER_INFO where mem_id=#{user_id}
	</select>

</mapper>