<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Header</title>
</head>
<body>
	
	<header class="pc_header">
                <ul class="jin_up">
                    <!-- <li><a href="#none">
                        <img src="imges/n9.png" alt=""> <span class="jine1">지갑</span></a></li> -->
                    <li><a href="Login.jsp">LOGIN</a></li>
                    <li><a href="Login.jsp">JOIN</a></li>
                    <li><a href="<%= check_user %>"><span class="jine2"><%= check_userPage %></span></a></li>
                    <!-- <li><a href="#none"><span class="jine2">고객센터</span></a></li> -->
                    <li><a href="Cart.jsp"><img src="imges/nm4.png" alt=""><span class="jine1">장바구니</span></a></li>
                </ul>

                <div id="jin_medium">
                        <div class="naunlogo">
                            <img src="imges/playScent_logo.png" alt="logo">
                        </div>

                        <div class="jin_search">
                            <form action="" class="search cf">
                                <input type="text" id="naum_search" placeholder="검색어를 입력하세요.">
                                <div class="naum_button">
                                    <img src="imges/nm55.png" alt="">
                                </div>
                            </form>    
                        </div>

                        <div class="ranking_slide">
                           <!--  <div class="slide_title">이슈머 랭킹</div>

                            <div class="rank_box cf">
                                <span class="r_number">1</span>                         
                                
                                <div class="ranker_info_box cf">
                                    <span class="ranker_info">유**</span>
                                    <span class="ranker_info"> 01031****50</span>
                                    <span class="ranker_info op1">P</span>
                                    <span class="ranker_info">56,103</span>
                                </div>
                                <div class="n_arrow">
                                    <img src="imges/nm77.png" style="width: 13px; height: 9px;" alt="">
                                </div>
                            </div>    -->
                        </div>                         

                </div>
        </header>
	

</body>
</html>